{
  "extends": ["@antfu", "eslint:recommended", "plugin:vue/recommended"],
  "rules": {
    "no-unused-vars": 0,
    "@typescript-eslint/indent": 0,
    "vue/html-self-closing": 0,
    "semi": "off",
    "@typescript-eslint/semi": "off"
  }
}
